{% extends 'base.html' %}

<title>{% block title %}判例検索{% endblock %}</title>

{% block content %}
<div class="alert alert-primary" role="alert">
    <h2>判例検索</h2>
</div>
    <h5>検索ワードを入力し検索ボタンを押してください</h5>
<form method="GET" action="/search_result">{% csrf_token %}
    <div class="maincontents2__table">
        <input name="q" value="{{request.GET.q}}" placeholder="search">
            <button class="btn btn-success" type="submit">
                検索
            </button>
    </div>
</form>
{% endblock %}